* {
    margin: 0;
    padding: 0;
}
.nav-img {
    height: 50px;
    width: 50px;
    background: url("logo.png");
}
.navbar {
    background: #fff;
    border-bottom: solid 1px #000;
    display: block;
}
.nav-keys li {
    display: inline-block;
    text-decoration: none;
    margin: 10px;
}
/*.nav-search {
    float: right;
}*/